<div class="container-fluid">
    <div id="ViewWrapper" class="signUp centerFlex m-5">
        <div class="glassDiv centerFlex" id="outerDiv">
            <div class="glassBorder boxContent" id="innerDiv">
                

                <form (ngSubmit)="saveUser()">
                    <fieldset>
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control" id="firstName">
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" name="lastName" [(ngModel)]="user.lastName" class="form-control" id="lastName">
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" name="email" [(ngModel)]="user.email" class="form-control" id="email">
                        </div>
                    </fieldset>
                    
                    <fieldset>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" [(ngModel)]="user.password" class="form-control" id="password">
                        </div>
                    </fieldset>

                    <div class="d-flex flex-row-reverse ">
                        <button type="submit" class="btn btn-outline-success lexend-giga-semibold">Submit</button>
                    </div>

                </form>
  
  
            </div>
        </div>
    </div>
</div>
